.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 90vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.8rem;
  font-weight: 700; 
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); 
}

.content {
  background-color: rgba(24, 24, 27, 0.5);
  border: 1px solid rgba(39, 39, 42, 0.5);
  border-radius: 12px;
  gap: 24px;
  padding: 24px;
  backdrop-filter: blur(8px);
}

.text {
  color: #a1a1aa;
}

hr {
  border: none;
  height: 1px;
  background: rgba(111, 111, 122, 0.5); 
}
