.monthsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonne di uguale larghezza */
    grid-template-rows: repeat(3, auto); /* 3 righe, altezza adattiva */
    gap: 16px; /* Spaziatura tra celle */
}

.selectLabel {
  font-weight: bold;
  margin-right: 8px;
}

.select {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.select:focus {
  border-color: rgb(75, 192, 192);
  box-shadow: 0 0 5px rgba(75, 192, 192, 0.5);
}


.chartsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Due colonne uguali */
    gap: 16px; /* Spaziatura tra i grafici */
  }
  
  .chartContainer {
    background-color: rgba(39, 39, 42, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }  
